.headerStart {
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 1.3em;
    display: flex;
    align-items: center;
  }
  .parentDiv {
    width: 100%;
    font-size: 1.05em;
  
    margin-bottom: 20px;
  }
  .buttonChoice {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .title{
    width: 100%;
    height:20px;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: gray;
  }
  .fileName {
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .icon {
    margin-left: 15px;
  }
  .textBoxesParent{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
  }
  .mandatory{
    color: #0078D4;
    font-size: 11px;
  }
.btn-box{
  display: flex;
  justify-content: start;
}

.btnAddRemove{
  margin: 5px 5px 5px 0!important;
}
.notValid{
  color: #0278D4;
}